<link rel="stylesheet" href="/header.css">
<header class="header">
    <div class="action">
        <div class="links">
            <a href="">
                <img src="https://img.icons8.com/color/512/todo-list--v1.png" 
                alt="logo" 
                class="image">
            </a>
        </div>

    <div class="main">
        <div class="links-name1"><a href="/"></a></div>
    </div>

    </div>
</header>